In [106]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [107]:
housing_df=pd.read_csv("HousingData.csv")
housing_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [108]:
housing_df=housing_df.dropna()
housing_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [109]:
# Declare X and y
X=housing_df.iloc[:,:-1]
y=housing_df.iloc[:, -1]

In [110]:
# Create training and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [111]:
#Create the regressor: reg
reg=LinearRegression()

In [112]:
#Fit the regressor to the training data
reg.fit(X_train, y_train)

LinearRegression()

In [113]:
# Predict on the test data: y_pred
y_pred=reg.predict(X_test)

In [114]:
#Compute and print RMSE
rmse=np.sqrt(mean_squared_error(y_test, y_pred))
print("Root Mean Squared Error: {}".format(rmse))

Root Mean Squared Error: 8.50062488168608e-14

In [115]:
def regression_model(model):
    X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)
    reg_all=model
    reg_all.fit(X_train, y_train)
    y_pred=reg_all.predict(X_test)
    rmse=np.sqrt(mean_squared_error(y_test, y_pred))
    print("Root Mean Squared Error: {}".format(rmse))

In [126]:
regression_model(LinearRegression())

Root Mean Squared Error: 1.347802192645263e-13